.red{
    background-color: red;
    width: 100px;
    height: 50px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue{
    background-color: blue;
    width: 100px;
    height: 50px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.green{
    background-color: green;
    width: 100px;
    height: 50px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}